*{
    font-family: 'Satoshi'; 
}
html {
    scroll-behavior: smooth;
}
/* Navbar style */
.bg-header{
    background: rgba(98, 70, 234, 0.05);
    backdrop-filter: blur(25px);
    padding: 12px 12px 12px 12px;
    /* padding-top: 2rem; */
    border-radius: 73px;
}
.header-down{
    padding-top: 1rem !important;
    /* padding-bottom: 1rem !important; */
}
li a{
    /* font-family: 'Satoshi' !important; */
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height: 24px !important;
    color: #000000 ;
    margin-left: 2rem;
}
a:hover{
    color: #6246EA !important;
}
.download-btn{
    background: #6246EA;
    border-radius: 73px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    padding: 18px 30px;
    text-align: center;
    cursor: pointer;
}
/* Hero style */

.hero-title{
    font-family: 'Satoshi' !important;  
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    /* line-height: 130px; */
    text-align: center;
    color: #141414;
}
.hero-down{
    /* padding-top: 13rem; */
}
.hero-text{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 32px; */
    text-align: center;
    color: #666666;
    margin: auto;
    width: 50%;
    /* padding-top: 1rem; */
}
.btn-download-hero{
    font-family: 'Satoshi';
    font-style: normal;
    background: #141414;
    border-radius: 73px;
    padding: 18px 48px;
    text-align: center;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    border: none;
    /* line-height: 24px; */
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}
.money-s-1{
    top: -4rem;
    position: relative;
}
.money-s-2{
    top: -19rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: -50px; 
}
.pic-up{
    top: -3px;
    position: relative;
}
/* Mobile Mockup */

.section-company{
    width: 90%;
    margin: auto;
    position: relative;
    top: -100px;
}
.display-c-l{
    display: flex;
    justify-content: space-between;
}
.mockup-down-n{
    padding-top: 15rem;
}
.mockup-bg{
    background-image: url('/nyatwa/images/Vector.svg'), linear-gradient(to right, #6246EA, #6246EA);
    border-radius: 50px;
    /* height: auto; */
    /* padding-bottom: 5rem; */
    background-repeat: no-repeat;
    height: 780px;
    background-size: cover;
    /* padding-top: 10rem; */
}

.bg-e{
    height: 100%;
    background: linear-gradient(to bottom, #fff 60%, #F4F4FF 40%);
  }
/* .phone-inside{
    position: relative;
    top: 200px;
} */
.img-left-1{
    position: relative;
    top: -200px;
    /* height: 650px;
    width: 736px; */
    right: -20px;
}
.img-left-2{
    left: -90px;
    top: -330px;
    position: relative;
    /* height: 650px;
    width: 736px; */
}
.img-left-3{
    left: -200px;
    position: relative;
    top: -480px;
    /* height: 650px;
    width: 736px; */
}

.section-mockup{
    background: url("/public/nyatwa/images/Section.png");
    height: 736px;
    width: 100%;
}
/* Card */
.kite-style{
    position: relative;
    top : 18px;
    left: 50px;
}
.eye-o-style{
    position: relative;
    top : 60px;
    right: 50px;
}
.header-card{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    color: #141414;
    margin-top: 4rem;
}
.header-card-p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    margin: auto;
    width: 60%;
}
.btn-card-b{
    background: #6246EA;
    border-radius: 83px;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    color: #FFFFFF;
    cursor: pointer;
}
.section-down{
    margin-top: 13rem;
}
.header-card-p-p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}
.section-down-1{
    margin-top: 8rem;
}
.section-down-2{
    margin-top: 4rem;
}
.card-section-pad{
    padding: 10rem 0;
}
.testimonial-card{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 1.5rem;
    width: 429px;
    height: 100%;
    max-height: 320px;
}
.card-testi{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-top: 3rem;
}
.footer-testi{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    justify-content: flex-end;
    color: #000000;
    margin-top: 3rem;
}
.marging-inside{
    margin: 1rem;
}
/* testionial */
.display-testi{
    display: flex;
    justify-content: space-between;
}
.testimonial-card-2{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 1.5rem;
    width: 330px;
    height: 100%;
    /* max-height: 350px; */
}

/* Download */
.wait-for-it{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
}
.download-text{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    color: #FFFFFF;
}
.flex-download{
    display: flex;
    justify-content: space-between;
}
.star-down{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.text-in-logo{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 27px; */
    position: relative;
    top: 5px;
    color: #000000;
}
.star-rating{
    margin: 1rem 5rem;
}
.licensed{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #666666;
}
.img-fluid-1{
   z-index: 9001;
}
.style-download{
    background-image: url('/nyatwa/images/Vector.svg'), linear-gradient(to right, #6246EA, #6246EA);
    border-radius: 50px;
    /* height: auto; */
    margin-top : 6rem;
    padding: 2rem 4rem 0 4rem;
    margin-bottom: 5rem;
    background-repeat: no-repeat;
    /* height: 645px; */
    background-size: cover;
}
.img-g{
    /* width: 690px; */
    position: relative;
    left: -220px;
    /* top: -80px; */
   
}
.text-enter-1{
    /* padding-left: 5rem;
    padding-top: 4rem; */
    padding: 5rem 0 5rem 3rem;
}
/* Footer */
.footer-style{
    padding: 5rem 0;
    height: 683px;
}
.logo-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #666666;
    width: 80%;
}
.header-footer{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
}
.footer-p ul {
    margin: 0;
    padding: 0;
}
.footer-p ul li{
    font-family: 'Satoshi';
    list-style-type: none;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    color: #FFFFFF;
    padding-top: 2rem;
}
.social-media{
    margin-top: 7rem;
}
.line-footer{
    margin: 4rem 0;
}
.copy-right{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #666666;
}
/* company */
.header-company{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    /* line-height: 130px; */
    text-align: center;
    color: #141414;
}
.company-center{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    margin: auto;
    width: 65%;
    /* padding-top: .5rem; */
}
.img-pace{
    margin-top: 7rem;
}
.partner-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #666666;
}
.our-partners{
    margin: 3rem 0 5rem 0;
}
.why-we-built{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 86px;
    color: #141414;
    margin-bottom: 2rem;
}
.built-p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    padding-top: 1rem;
}
.company-values{
    background: #F4F4FF;
    border-radius: 30px;
    padding: 3rem 4rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
    /* height: 748px; */
    /* margin: 3rem 0; */
}
.company-values-p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    padding-top: 1rem;
}
.our-values{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: #141414;
}
.company-logo{
    width: 70%;
    margin: auto; 
    padding-bottom: 5rem;
}
/* STUDENT */
.header-student{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    /* line-height: 130px; */
    color: #141414;
}
.header-student-w{
    width: 61%;
}
.student-p-w{
    width: 55%;
}
.student-p-w p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    padding-top: .8rem;
}
.btn-apply-student{
    font-family: 'Satoshi';
    font-style: normal;
    background: #141414;
    border-radius: 73px;
    padding: 15px 114px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 24px; */
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}
.student-group{
    margin: 6rem 0;
}
.ambassador-s{
    padding-bottom: 4rem;
}
.ambassador-is-a{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 86px;
    color: #141414;
}
.what-text-a{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 86px; */
    color: #808080;
    /* width: 90%; */
}
.ambassador-gathering{
    margin: 5rem 0;
}
.pro-header{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #141414;
    width: 85%;
}
.pro-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #666666;
    width: 90%;
    padding-top: 2rem;
}
.task-style{
    background: #F4F4FF;
    border-radius: 30px;
    padding: 3rem;
    margin-bottom: 4rem;
}

.task-h{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 86px;
    color: #141414;
}

.links-down ul li{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 49px;
    color: #6246EA;
    padding-top: 2rem;
}
.header-support{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 130px;
    color: #141414;
}
.support-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #666666;
}
.info-mail{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #141414;
}
.info-title{
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 43px;
    color: #141414;
}
.info-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 43px; */
    color: #141414;
}
.form-d{
    margin-top: 6rem;
}
.form-field{
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    width: 92.6%;
    padding: 2rem;
    margin-bottom: 3rem;
}
.class-bor{
    border-bottom: 1px solid #CCCCCC;
    margin-top: 3rem;
}
.text-a{
    background: #FAFAFA;
    padding: 1rem;
}
::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #808080;
}
select{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #808080 !important;
}
input{
    font-size: 20px;
}
textarea{
    font-size: 20px;
    height: 190px;
}
.support-bot{
    margin-bottom: 5rem;
}
.btn-send-message{
    background: #141414;
    border-radius: 73px;
    padding: 18px 114px;
    color: #fff;
    margin-top: 2rem;
}
.inputwrapper{
    position: relative;
   }
  .inputwrapper::after {
     content: attr(data-required);
     position: absolute;
     left: 110px;
     top: 50%;
     font-size: 24px;
     transform: translateY(-50%);
     color: #E81313;
 }
 .inputwrapper2{
    position: relative;
   }
  .inputwrapper2::after {
     content: attr(data-required);
     position: absolute;
     left: 150px;
     top: 50%;
     font-size: 24px;
     transform: translateY(-50%);
     color: #E81313;
 }
 .inputwrapper3{
    position: relative;
   }
  .inputwrapper3::after {
     content: attr(data-required);
     position: absolute;
     left: 250px;
     top: 50%;
     font-size: 24px;
     transform: translateY(-50%);
     color: #E81313;
 }
 /* FAQ */
 .header-faq{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    /* line-height: 130px; */
    width: 70%;
    color: #141414;
 }

 /* mobile responsiveness */
 @media only screen and (max-width : 320px) {
    .img-left-3{
        left: -80px !important;
        position: relative;
        top: -120px;
        width: 144.93px;
        height: 179.43px;
    }
 }
 @media only screen and (max-width : 578px) {
    .footer-d-m-n{
        margin-top: 1rem;
    }
    .logo-nav-r{
        width: 84px;
        height: 19px
    }
    .text-in-logo{
        /* font-size: 10px; */
        top: 1px;
    }
    .hero-title{
        font-size: 32px;
    }
    .hero-text{
        font-size: 14px;
        width: 100%;
    }
    .btn-hero-t{
        margin-top: 1rem !important;
    }
    .btn-download-hero{
        padding: 10px 20px;
        margin-bottom: 3rem;
        font-size: 14px;
    }
    .img-m-v{
        height: 33px;
        width: 39px;
    }
    .money-s-1{
        top: 1rem;
    }
    .money-s-2{
        top: -7rem;
        right: -5px; 
    }
    .img-left-1{
        position: relative;
        top: -35px;
        width: 139.08px;
        height: 177.82px;
        right: 1px;
    }
    .img-left-2{
        left: -30px;
        top: -80px;
        position: relative;
        width: 89.85px;
        height: 182.79px;
    }
    .img-left-3{
        left: -50px;
        position: relative;
        top: -120px;
        width: 144.93px;
        height: 179.43px;
    }
    .mockup-bg{
        border-radius: 12.5px;
        background-size: cover 100%;
        height: auto;
    }
    .r-m-l{
        width: 100px;
        height: 10.5px;
    }
    .section-company{
        width: 100%;
        margin: auto;
        position: relative;
        top: -15px;
    }
    .mockup-down-n{
        padding: 7rem 1rem 0 1rem;
        /* margin: 0 1rem; */
    }

    .card-s-m{
        width: 265.71px;
        height: 185.03px;
    }
    .card-section-pad {
        padding: 1rem ;
    }
    .header-card{
        font-size: 32px;
        line-height: 43px;
        padding-top: 2rem;
        margin: auto;
        width: 80%;
    }
    .header-card-p{
        font-size: 14px;
        line-height: 20px;
        margin: auto;
        width: 80%;
    }
    .section-down{
        margin-top: 1rem;
    }
    .btn-card-b{
        padding: 7.5px 12px;
        font-size: 12px;
        line-height: 16px;
    }
    .kite-s-m{
        width: 9.82px;
        height: 12.13px;
    }
    .p-sign-card{
        margin: .1rem 1rem;
    }
    .section-down-2{
        margin-top: 1.5rem;
    }
    .eye-o-style{
        position: relative;
        top : 40px;
        right: 130px;
        width: 30px;
        height: 30px;
    }
    .kite-style{
        position: relative;
        top : 40px;
        left: 130px;
        width: 30px;
        height: 30px;
    }
    .section-down-1{
        margin-top: 2rem;
    }
    .header-card-p-p{
        font-size: 14px;
        line-height: 20px;
        margin-top: .3rem;
        padding: .4rem;
    }
    .display-testi{
        display: block;
        /* justify-content: space-between; */
    }
    .testimonial-card{
        width: 100%;
        height: 256px;
    }
    .card-testi{
        font-size: 14px;
        line-height: 19px;
    }
    .footer-testi{
        font-size: 14px;
        line-height: 19px;
    }
    .quote-style-m{
        width: 30px;
        height: 30px;
    }
    .testimonial-card-2{
        width: 100%;
        height: 256px;
    }
    .text-enter-1{
        padding: 1rem;
    }
    .wait-for-it{
        font-weight: 400;
        font-size: 16px;
    }
    .download-text{
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
    }
    .style-download{
        padding: 0; 
        border-radius: 20px;
        margin : 2rem .1rem;
        text-align: center;
    }
    .img-g{
        width: 500px;
        height: 100%;
        left: -120px;
        margin-top: 1rem;
    }
    .star-rating{
        margin: 1rem;
        text-align: center;
    }
    .star-img{
        width: 17.03px;
        height: 16px;
    }
    .bank-logo{
        width: 158px;
        height: 40px;
    }
    .licensed{
        font-size: 13px;
        line-height: 18px;
    }
    .star-down{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .app-logo{
        width: 16px;
        height: 16px;
    }
    .footer-style{
        padding: 1.9rem;
        height: auto;
    }
    .logo-text{
        font-size: 14px;
        line-height: 19px;
    }
    .header-footer{
        font-size: 16px;
        line-height: 22px;
    }
    .footer-p ul li{
        font-size: 14px;
        padding-top: 1rem;
    }
    .social-media{
        margin-top: 2rem;
        border-bottom: 1px solid #333333;
        padding-bottom: 2rem;
    }
    .line-footer{
        display: none;
    }
    .legal-f{
        margin-top: 1.5rem;
    }
    .footer-logo{
        width: 20px;
        height: 20px;
    }
    .copy-right{
        font-size: 14px;
        line-height: 19px;
        margin-top: 2rem;
    }
    .bg-header{
        border-radius: 12px;
        padding: .3rem;
    }
    .download-btn{
        font-size: 14px;
        line-height: 24px;
        padding: 10px;
        /* width: 80%; */
    }
    .header-company{
        font-size: 32px;
        line-height: 43px;
    }
    .company-center{
        font-size: 14px;
        line-height: 20px;
        width: 80%;
        padding-top: .6rem;
    }
    .img-pace{
        margin-top: 2rem;
    }
    .logo-company-m{
        width: 95px;
        height: 23px;
    }
    .partner-text{
        font-size: 10px;
        line-height: 18px;
    }
    .our-partners{
        margin: 1rem;
    }
    .why-we-built{
        font-size: 24px;
        line-height: 32px;
    }
    .built-p{
        font-size: 14px;
        line-height: 20px;
        padding-top: .1rem;
    }
    .company-values{
        background: #F4F4FF;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .company-values-p{
        font-size: 14px;
        padding-top: .1rem;
        line-height: 20px;
    }
    .our-values{
        font-size: 24px;
        line-height: 32px;
    }
    .company-logo{
        width: 90%;
        margin: auto; 
        padding-bottom: 2rem;
    }
    .header-student{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
    }
    .header-student-w{
        width: 100%;
    }
    .student-p-w{
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .student-p-w p{
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding-top: .1rem;
    }
    .btn-apply-student{
        text-align: center;
        padding: 16px 62px;
    }
    .center-on-mobile{
        text-align: center;
    }
    .student-group{
        margin: 2rem 0;
    }
    .ambassador-is-a{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .what-text-a{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .ambassador-gathering{
        margin: 2rem 0;
    }
    .pro-header{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        width: 100%;
    }
    .pro-text{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        padding-top: 1rem;
    }
    .task-style{
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    
    .task-h{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: .1rem;
    }
    
    .links-down ul li{
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        padding-top: 1rem;
    }
    .header-faq{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
        width: 100%;
    }
    .support-text{
        font-size: 14px;
        line-height: 20px;
        text-align: center;

    }
    .support-bot{
        margin-bottom: 2rem;
    }
    .header-support{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
    }
    .form-d{
        margin-top: 2rem;
    }
    .form-field{
        border-radius: 10px;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .btn-send-message{
        padding: 16px 24px;
        margin-top: 2rem;
    }
    .info-mail{
        font-size: 24px;
        text-align: center;
    }
    .info-title{
        font-size: 18px;
        line-height: 43px;
        text-align: center;
    }
    .info-text{
        font-size: 16px;
        text-align: center;
    }
    .margin-on-top{
        margin-top: 1rem !important;
    }
    .bg-header ul li a{
        padding: 10px 0;
        margin: 0;
    }

 }
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-d-m-n{
        margin-top: 1rem;
    }
    .hero-title{
        font-size: 45px;
    }
    .hero-text{
        font-size: 14px;
        width: 60%;
        margin: auto;
    }
    .btn-hero-t{
        margin-top: 1rem !important;
    }
    .btn-download-hero{
        padding: 14px 24px;
        margin-bottom: 3rem;
    }
    .img-m-v{
        height: 33px;
        width: 39px;
    }
    .money-s-1{
        top: 1rem;
    }
    .money-s-2{
        top: -7rem;
        right: -5px; 
    }
    .img-left-1{
        position: relative;
        top: -100px;
        width: 400px;
        height: 400px;
        right: 5px;
    }
    .img-left-2{
        left: -70px;
        top: -180px;
        position: relative;
        width: 300px;
        height: 400px;
    }
    .img-left-3{
        left: -150px;
        position: relative;
        top: -280px;
        width: 400px;
        height: 400px;
    }
    .mockup-bg{
        border-radius: 12.5px;
        background-size: cover 100%;
        height: auto;
    }
  
    .r-m-l{
        width: 100px;
        height: 10.5px;
    }
    .section-company{
        width: 70%;
        margin: auto;
        position: relative;
        top: -15px;
    }
    .mockup-down-n{
        padding: 13rem 1rem 0 1rem;
        /* margin: 0 1rem; */
    }

    .card-s-m{
        width: 350px;
        height: 255.03px;
    }
    .card-section-pad {
        padding: 1rem ;
    }
    .header-card{
        font-size: 32px;
        line-height: 43px;
        padding-top: 2rem;
        margin: auto;
        width: 80%;
    }
    .header-card-p{
        font-size: 14px;
        line-height: 20px;
        margin: auto;
        width: 80%;
    }
    .section-down{
        margin-top: 1rem;
    }
    .btn-card-b{
        padding: 7.5px 12px;
        font-size: 12px;
        line-height: 16px;
    }
    .kite-s-m{
        width: 9.82px;
        height: 12.13px;
    }
    .p-sign-card{
        margin: .1rem 1rem;
    }
    .section-down-2{
        margin-top: 1.5rem;
    }
    .eye-o-style{
        position: relative;
        top : 40px;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    .kite-style{
        position: relative;
        top : 40px;
        left: 20px;
        width: 30px;
        height: 30px;
    }
    .section-down-1{
        margin-top: 2rem;
    }
    .header-card-p-p{
        font-size: 14px;
        line-height: 20px;
        margin-top: .3rem;
    }
    .display-testi{
        display: block;
        /* justify-content: space-between; */
    }
    .testimonial-card{
        width: 100%;
        height: 256px;
    }
    .card-testi{
        font-size: 14px;
        line-height: 19px;
    }
    .footer-testi{
        font-size: 14px;
        line-height: 19px;
    }
    .quote-style-m{
        width: 30px;
        height: 30px;
    }
    .testimonial-card-2{
        width: 100%;
        height: 256px;
    }
    .text-enter-1{
        padding: 1rem;
    }
    .wait-for-it{
        font-weight: 400;
        font-size: 16px;
    }
    .download-text{
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
    }
    .style-download{
        padding: 0; 
        border-radius: 20px;
        margin : 2rem .1rem;
        text-align: center;
    }
    .img-g{
        width: 500px;
        height: 100%;
        left: -10px;
        margin-top: 1rem;
    }
    .star-rating{
        margin: 1rem;
        /* text-align: left; */
    }
    .text-in-logo{
        font-size: 10px;
        top: 1px;
    }
    .star-img{
        width: 17.03px;
        height: 16px;
    }
    .bank-logo{
        width: 158px;
        height: 40px;
    }
    .licensed{
        font-size: 13px;
        line-height: 18px;
    }
    .star-down{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .app-logo{
        width: 16px;
        height: 16px;
    }
    .footer-style{
        padding: 1.9rem;
        height: auto;
        width: 100%;
    }
    .logo-text{
        font-size: 14px;
        line-height: 19px;
    }
    .header-footer{
        font-size: 16px;
        line-height: 22px;
    }
    .footer-p ul li{
        font-size: 14px;
        padding-top: 1rem;
    }
    .social-media{
        margin-top: 2rem;
        border-bottom: 1px solid #333333;
        padding-bottom: 2rem;
    }
    .line-footer{
        display: none;
    }
    .legal-f{
        /* margin-top: 1.5rem; */
    }
    .footer-logo{
        width: 20px;
        height: 20px;
    }
    .copy-right{
        font-size: 14px;
        line-height: 19px;
        margin-top: 2rem;
    }
    .bg-header{
        border-radius: 12px;
        padding: .3rem;
    }
    .download-btn{
        font-size: 14px;
        line-height: 24px;
        padding: 10px;
        /* width: 80%; */
    }
    .header-company{
        font-size: 32px;
        line-height: 43px;
    }
    .company-center{
        font-size: 14px;
        line-height: 20px;
        width: 80%;
        padding-top: .6rem;
    }
    .img-pace{
        margin-top: 2rem;
    }
    .logo-company-m{
        width: 95px;
        height: 23px;
    }
    .partner-text{
        font-size: 10px;
        line-height: 18px;
    }
    .our-partners{
        margin: 1rem;
    }
    .why-we-built{
        font-size: 24px;
        line-height: 32px;
    }
    .built-p{
        font-size: 14px;
        line-height: 20px;
        padding-top: .1rem;
    }
    .company-values{
        background: #F4F4FF;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .company-values-p{
        font-size: 14px;
        padding-top: .1rem;
        line-height: 20px;
    }
    .our-values{
        font-size: 24px;
        line-height: 32px;
    }
    .company-logo{
        width: 70%;
        margin: auto; 
        padding-bottom: 2rem;
    }
    .header-student{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
    }
    .header-student-w{
        width: 100%;
    }
    .student-p-w{
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .student-p-w p{
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding-top: .1rem;
    }
    .btn-apply-student{
        text-align: center;
        padding: 16px 62px;
    }
    .center-on-mobile{
        text-align: center;
    }
    .student-group{
        margin: 2rem 0;
    }
    .ambassador-is-a{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .what-text-a{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .ambassador-gathering{
        margin: 2rem 0;
    }
    .pro-header{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        width: 100%;
    }
    .pro-text{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        padding-top: 1rem;
    }
    .task-style{
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    
    .task-h{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: .1rem;
    }
    
    .links-down ul li{
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        padding-top: 1rem;
    }
    .header-faq{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
        width: 100%;
    }
    .support-text{
        font-size: 14px;
        line-height: 20px;
        text-align: center;

    }
    .support-bot{
        margin-bottom: 2rem;
    }
    .header-support{
        font-size: 32px;
        line-height: 43px;
        text-align: center;
    }
    .form-d{
        margin-top: 2rem;
    }
    .form-field{
        border-radius: 10px;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .btn-send-message{
        padding: 16px 24px;
        margin-top: 2rem;
    }
    .info-mail{
        font-size: 24px;
        text-align: center;
    }
    .info-title{
        font-size: 18px;
        line-height: 43px;
        text-align: center;
    }
    .info-text{
        font-size: 16px;
        text-align: center;
    }
    .margin-on-top{
        margin-top: 1rem !important;
    }
    .bg-header ul li a{
        padding: 10px 0;
        margin: 0;
    }

 }